<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}[%style{book-api-xddd}{black},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}]: %msg%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="br.com.diego.libraryapi" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.jdbc" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.web.servlet" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
